.arcticle__mapa{
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Bgdprimary-color);
    position: relative;
}
.mapa{
    width: 600px;
    height: 600px;
    position: relative;
    
}
.punto__venta{
    position: absolute;
    width: 40px;
    height: 40px;
}
.item-1{
    left:52%;
    top: 52%;
}
.item-2{
    left: 55%;
    top: 60%;
}
.item-3{
    left:40%;
    top: 30%;
}
.item-4{
    left:47%;
    top: 51%;
}
.item-5{
    left:50%;
    top: 40%;
}