---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import Banner from "../components/portada.astro";
import About from "../components/about.astro";
import "../components/css/index.css"
import Products from "../components/products.astro";
import Location from "../components/location.astro";
import Contact from "../components/contact.astro";
---

<Layout title="DecantsCR">
	<main>
		<section>
			<Header />
		</section>
		<section class="S2">
			<Banner />
		</section>	
		<section class="S3">
			<About />
		</section>
		<section class="S4">
			<Products />
		</section>
		<section class="S5">
			<Location />
		</section>
		<section class="S6">
			<Contact/>
		</section>
	</main>
</Layout>


