---
import "../components/css/about.css";
---

<about class="container__about" id="seccion2">
   <section class="item1">
      <strong class="about__title">SOBRE NUESTRA EMPRESA</strong>
      <p>
         En DECANT'S PREMIUM, nos destacamos en el mundo de los perfumes,
         ofreciendo a nuestros clientes una experiencia única y personalizada.
         Aunque muchas personas ya están familiarizadas con los decants,
         pequeños frascos de 5 a 10 ml que permiten probar un perfume antes de
         comprarlo, nuestra empresa va más allá.
          <br><br>
         Nos diferenciamos por garantizar siempre la disponibilidad de estos decants, 
         además de ofrecer los perfumes originales en sus envases de fábrica. 
         Pero eso no es todo. En DECANT'S PREMIUM, también introducimos la opción de Mini
         Perfumes, frascos de 30 ml del perfume que más te guste, brindándote la
         oportunidad de disfrutar de tus fragancias favoritas en un tamaño
         práctico y conveniente. 
         <br><br>
         Nuestro compromiso es proporcionar calidad y variedad, asegurando que siempre 
         encuentres la opción perfecta para ti. Con DECANT'S PREMIUM, explora y enamórate 
         de tus perfumes favoritos de una manera completamente nueva.
      </p>
      <span class="about__span">Más información</span>
   </section>
   <article class="about__sect1">
      <img src="perfume6.webp" alt="" class="about__img1 item2" />
   </article>
   <article class="about__sect2">
      <img src="perfume5.webp" alt="" class="about__img2 item3" />
   </article>
</about>
