---
import "./css/contact.css"
---
<contact class="container__contact" id="seccion5">
    <section class="section__img">
        <img src="portada3.jpg" alt="" class="contact__img">
    </section>
    <section class="footer__sect">
        <h1>Correo</h1>
        <h1>Teléfono</h1>
    </section>
</contact>