---
import "../components/css/header.css";

---

<header class="nav__container">
   <a href="#seccion1">
      <img src="logodecants.png" class="logo__nav"  />
   </a>
   
   <section >
      <nav >
         <ul class="section__nav" >
            <li><a class="opcion__nav" href="#seccion2">Sobre nosotros</a> </li>
            <li>  <a class="opcion__nav" href="#seccion3">Productos</a> </li>
            <li> <a class="opcion__nav"href="#seccion4">Ubicación</a> </li>
            <li> <a class="opcion__nav" href="#seccion5">Contacto</a> </li>
         </ul>
      </nav>
   </section>
   <section class="section__flag">
      <div class="linea1"></div>
      <div class="linea2"></div>
      <div class="linea3"></div>
   </section>
</header>
