---
import "../components/css/portada.css"
---
<portada class="container__B" id="seccion1">
  <article class="imagen__a">
    <img src="portada1.webp" class="banner__img" />
  </article>
  <h1 class="banner__text">TENEMOS LA <br> MEJOR OPCIÓN</h1>
  <button class="btn__About">CONOCE SOBRE NOSOTROS</button>
</portada>