---
import "../components/css/productos.css";
---

<products  id="seccion3">
     <section class="container__produ">
          
            <strong>¿QUÉ OFRECEMOS?</strong>
          <p>
               La seguridad en que vas adquirir el perfume que siempre has
               querido.
          </p>   
          
          
          <article class="article__products">
               <img src="perfume1.png" alt="" class="imagen__product" />
               <img src="perfume2.png" alt="" class="imagen__product" />
               <img src="perfume7.png" alt="" class="imagen__product" />
          </article>
     </section>
</products>
